.introViewport{
    display: flex;
  height:100vh;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color:#212121;
  overflow: hidden;
}
.introTitleText{
    padding-top:2vh;
    font-size: 5vw;
    color: #4592af;
    font-family: 'OCR A', 'OCR A', monospace;
}
.abtText{
    font-family: 'OCR A', 'OCR A', monospace;
    color: #e3c4a8;
    font-size: 4vw;
}
.bioText{
    color: #e3c4a8;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}
.buttonProps{
    padding:10px;
    align-self: center;
    text-align: center;
    display: inline-block;
    font-family: 'OCR A', 'OCR A', monospace;
    font-size: 3vmin;
    color: #e3c4a8;
    margin-top: 40px;
    transition:  transform 100ms ease-in-out;
}
.buttonProps:hover{
    transform: scale(1.05);
}

.line2{
    position: static;
    top: 250px;
    z-index: 0;
    height: 1px;
    background-color: #e3c4a8;
    width: 20vw;
}
@keyframes zoomin{
    0%{
      transform: scale(1)
    }
    100%{
      transform: scale(1.3)
    }
}




/* -----------Diff Screens-------------------- */


.sectionViewport {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
}
.viewport {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    background-color: #212121;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}

.arrow{
    width: 3vw;
    margin-bottom: 30px;
    animation-name: arrowShake;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 15px;
}

@keyframes arrowShake{
    10%, 90% {
        transform: translate3d(0, -1px, 0);
      }
      
      20%, 80% {
        transform: translate3d(0, 2px, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(0, -4px, 0);
      }
    
      40%, 60% {
        transform: translate3d(0, 4px, 0);
      }
}
.njitLogo {
    height: 50vmin;
}
.njitLogo:hover{
    animation: arrowShake 2s ease-in-out 0s 1 ;;
    animation-duration: 2s;
}

.line {
    position: absolute;
    top: 16vw;
    z-index: 0;
    height: 1px;
    background-color: #e3c4a8;
    width: 90vw;
    animation: fadein 1s ease-in-out;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.pic {
    z-index: 99;
    width: 500px;
    height: 500px;
    animation: fadeup;
    animation-duration: 2s;
    border-radius: 250px;
}
@keyframes fadeup{
    0%{
        opacity: 0;
        transform: translate3d(0, 20px, 0)
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0)
    }
}



.titleText {
    padding-top: 2vh;
    font-size: 5vw;
    color: #4592af;
    font-family: 'OCR A', 'OCR A', monospace;
    animation: fadeup;
    animation-duration: 2s;
}

.sectionTitle {
    padding-top: 2vh;
    font-size: min(15vmin, 150px);
    color: #4592af;
    font-family: 'OCR A', 'OCR A', monospace;
}

.sectionTitleActivities {
    padding-top: 2vh;
    padding-bottom: 3vh;
    font-size: 6vw;
    text-align: center;
    color: #4592af;
    font-family: 'OCR A', 'OCR A', monospace;
}

.subtitleText {
    padding-top: 2vh;
    font-size: 3vw;
    text-align: center;
    font-family: 'OCR A', 'OCR A', monospace;
    color: #e3c4a8;
    animation: fadeup;
    animation-duration: 2s;
}

.subtitleText2 {
    padding-top: 4vh;
    font-size: max(2vw, 15px);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #e3c4a8;
    /* padding-left: 10vw; */
}

.iconHolder {
    padding-top: 16px;
    display: flex;
    align-items: center;
    min-height: 200px;
}

.smallIcons {
    padding-right: 25px;
    padding-left: 25px;
    object-fit: contain;
}

.wordHolder {
    flex-direction: column;
    padding-top: 2vh;
    max-width: 100%;
}

.indiHolder {
    flex-direction: column;
    display: flex;
    align-items: center;
    /* width: 6vw; */
    flex:1;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 16px;
}

.indiHolder:hover>.picProps {
    transform: scale(1.3)
}

.indiHolder:hover>.wordProps {
    opacity: 1;
}

.picProps {
    transition: transform 200ms ease-in-out;
    width: 6vw;
    object-fit: contain;
    max-height: 150px;
}

.wordProps {
    font-family: 'OCR A', 'OCR A', monospace;
    font-size: 15px;
    position: relative;
    top: 5px;
    text-align: center;
    color: #e3c4a8;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.skillsSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.sidebar{
    height: 50vh;
    width: 5vw;
    background-color: #4592af;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    text-align: center;    
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-top: 7.5%;
    transition: all 400ms ease-in-out;
    overflow: hidden;
}
.sidebartext{
    font-family: 'OCR A', 'OCR A', monospace;
    justify-content: center;
    align-items: center;
    color: #212121;
    position: absolute;
    font-size: 6vh; 
    left: 35%;
    top:25%;
    transition: opacity 400ms;
}
.expandedtext{
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: flex-start;
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: start;
    opacity:0;
    transition: opacity 400ms;
    font-size: 6vh; 
    animation-delay: 400ms;
}
.expandedsubtext{
    font-size: 2vw; 
    margin-left: 20px;
}
.sidebar:hover{
    display: inline-block;
    height: 65vh;
    width: 20vw;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;}
.sidebar:hover > .sidebartext{
    opacity: 0;
}
.sidebar:hover > .expandedtext{
    animation-delay: 400ms;
    opacity: 1;
    margin-bottom: 40px;
}

.logo{
    max-height: 300px;    
}

.woodLogo{
    padding-top: 5vh;
    height:15vw;
    padding-right: 4vw;
}

.genericBox{
    display:flex;
    width: 80%;
    flex-direction: row;
    color: #e3c4a8;
    background-color: #2e2e2e;
    align-items: center;
    margin:0 auto;
    padding: 20px;
    border-radius: 10pt;
    margin-top:50px;
}

.rmpBox{
    -webkit-box-shadow: 0px 0px 22px -5px #4592af;
    -moz-box-shadow: 0px 0px 22px -5px #4592af;
    box-shadow: 0px 0px 22px -5px #4592af;
}

.acmBox{
    -webkit-box-shadow: 0px 0px 22px -5px #4592af;
    -moz-box-shadow: 0px 0px 22px -5px #4592af;
    box-shadow: 0px 0px 22px -5px #4592af;
}
.woodBox{
    top:50px;
    -webkit-box-shadow: 0px 0px 22px -5px #af4545;
    -moz-box-shadow: 0px 0px 22px -5px #af4545;
    box-shadow: 0px 0px 22px -5px #af4545;
}

.clickableBox{
    cursor: pointer;
}

.glydeBox{
    -webkit-box-shadow: 0px 0px 22px -5px #0dd0c4;
    -moz-box-shadow: 0px 0px 22px -5px #0dd0c4;
    box-shadow: 0px 0px 22px -5px #0dd0c4;
}
.mirrorBox{
    -webkit-box-shadow: 0px 0px 22px -5px #f46cae;
    -moz-box-shadow: 0px 0px 22px -5px #f46cae;
    box-shadow: 0px 0px 22px -5px #f46cae;
}
.dataTransferBox{
    -webkit-box-shadow: 0px 0px 22px -5px #81a9d4;
    -moz-box-shadow: 0px 0px 22px -5px #81a9d4;
    box-shadow: 0px 0px 22px -5px #81a9d4;
}
.measurableBox{
    -webkit-box-shadow: 0px 0px 22px -5px #ffc084;
    -moz-box-shadow: 0px 0px 22px -5px #ffc084;
    box-shadow: 0px 0px 22px -5px #ffc084;
}

.abt{
    font-family: 'OCR A', 'OCR A', monospace;
    flex-direction: row;
    text-align: center;
    flex:2;
    text-align: left;
    font-size: 1.4em;
    color: #e3c4a8;
    width:calc(80% - 300px);
    padding-left: 16px;
}


.contactViewport{
    height: 100%;
    width: 100%;
    text-align: center;
}

.subContact{
    display: flex;
    flex-direction: row;
}
.sendMessage{
    display: flex;
    flex-direction: column;
    flex:1;
}
.contactIcons{
    flex:1;
}
.contactContainer{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center,
}
.contactLogo{
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100px;
    max-height: 100px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
.contactLogo:hover {
    transform: scale(1.3)
}

.contactContainer:hover>.wordProps {
    opacity: 1;
}

